<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruff-attack-one-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2136,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2492,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-one-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2848,0},{356,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,282}}</string>
                <key>sourceSize</key>
                <string>{356,282}</string>
            </dict>
            <key>ruff-attack-two-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3204,0},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2316,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2702,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3088,282},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,564},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-attack-two-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3204,0},{386,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,282}}</string>
                <key>sourceSize</key>
                <string>{386,282}</string>
            </dict>
            <key>ruff-dash-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,564},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,564},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,564},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,856},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,856},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1148},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1148},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1148},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1148},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,1148},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1440},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1440},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,1440},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1732},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1732},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1732},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,1732},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2024},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2024},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,2024},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2316},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2316},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-dash-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2404,2316},{1202,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1202,292}}</string>
                <key>sourceSize</key>
                <string>{1202,292}</string>
            </dict>
            <key>ruff-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2364,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2758,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3152,2608},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2364,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2758,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3152,2890},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3172},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,3172},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-death-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,3172},{394,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,282}}</string>
                <key>sourceSize</key>
                <string>{394,282}</string>
            </dict>
            <key>ruff-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2154,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2397,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2640,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2883,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-jump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{3126,3172},{243,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,282}}</string>
                <key>sourceSize</key>
                <string>{243,282}</string>
            </dict>
            <key>ruff-ready-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3369,3172},{232,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,282}}</string>
                <key>sourceSize</key>
                <string>{232,282}</string>
            </dict>
            <key>ruff-run-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
            <key>ruff-run-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2338,3454},{334,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,264}}</string>
                <key>sourceSize</key>
                <string>{334,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruff-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{3606,3718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e2977910b4a4c819e62495237b0e3b$</string>
            <key>textureFileName</key>
            <string>ruff-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
