<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ruff-attack-one-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-one-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,0},{179,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,142}}</string>
                <key>sourceSize</key>
                <string>{179,142}</string>
            </dict>
            <key>ruff-attack-two-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,0},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,142},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,284},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-attack-two-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,0},{194,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,142}}</string>
                <key>sourceSize</key>
                <string>{194,142}</string>
            </dict>
            <key>ruff-dash-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,284},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,284},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,284},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,431},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,431},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,431},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,578},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,578},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,578},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,578},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,725},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,725},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,872},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,872},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,872},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1019},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1019},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1019},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1166},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1166},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-dash-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1166},{602,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,147}}</string>
                <key>sourceSize</key>
                <string>{602,147}</string>
            </dict>
            <key>ruff-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1313},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1455},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1597},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1597},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-death-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1597},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,142}}</string>
                <key>sourceSize</key>
                <string>{198,142}</string>
            </dict>
            <key>ruff-jump-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-jump-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1597},{123,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,142}}</string>
                <key>sourceSize</key>
                <string>{123,142}</string>
            </dict>
            <key>ruff-ready-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1739},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>ruff-run-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
            <key>ruff-run-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,1739},{168,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,133}}</string>
                <key>sourceSize</key>
                <string>{168,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ruff-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1806,1881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1a9bfe0e72d1147a59a62c9a021dd5$</string>
            <key>textureFileName</key>
            <string>ruff-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
