<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snail-attack-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,302},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,302},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,302},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-attack-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{362,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,302}}</string>
                <key>sourceSize</key>
                <string>{362,302}</string>
            </dict>
            <key>snail-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,302},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1037},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1037},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1037},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1037},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1037},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1772},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1772},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1772},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1772},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1772},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2507},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2507},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2507},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,2507},{419,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,735}}</string>
                <key>sourceSize</key>
                <string>{419,735}</string>
            </dict>
            <key>snail-walk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2507},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,3242},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3516},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,3516},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,3516},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,3516},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,3516},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
            <key>snail-walk-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2507},{254,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,274}}</string>
                <key>sourceSize</key>
                <string>{254,274}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower-sprite-sheet-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2095,3790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:418d1a02e5693f9dd500fe10ee0bf4f4$</string>
            <key>textureFileName</key>
            <string>flower-sprite-sheet-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
