<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snail-attack-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,152},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,152},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,152},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-attack-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,152}}</string>
                <key>sourceSize</key>
                <string>{182,152}</string>
            </dict>
            <key>snail-death-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,152},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,521},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,521},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,521},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,521},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,521},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,890},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,890},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,890},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,890},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1259},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1259},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1259},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-death-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1259},{211,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,369}}</string>
                <key>sourceSize</key>
                <string>{211,369}</string>
            </dict>
            <key>snail-walk-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1259},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1628},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1766},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1766},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1766},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1766},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1766},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
            <key>snail-walk-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1259},{128,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{128,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flower-sprite-sheet-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1055,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4203ad43ef5fe00533a07b4086a910a$</string>
            <key>textureFileName</key>
            <string>flower-sprite-sheet-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
